$primary-heading-color: #e6eaeb;
$primary-button-color: #8182b9;
$primary-bg-color: #ff6f6f;
$primary-text-color: #e6eaeb;
$card-hover-blue: #8182b9;
$card-hover-red: #ff6f6f;

$color-grey-dark: #777;
$color-basic-white: #fff;
$color-basic-black: #000;

// default font size
$default-font-size: 1.6rem;

// grid setup
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;