.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-basic-black,.1);
    /*background: $primary-heading-color;*/
    border-radius: 3px;
    padding: 6rem;
    font-size: $default-font-size;

    &__shape {
        width: 15rem;
        height: 15rem;
        float:left;
        background-color: orange;
    }
}